
<header>
    <div class="videocont">
     <video #headerVideo autoplay muted loop playsinline  oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source   src="assets/images/video-home.mp4" type="video/mp4">
    </video>   
    </div>
    
    <div class="overlay">
        <div id="caption">
            <h1>SECURE PARKING  SOLUTION  </h1>
            <p>Secure , Easy , Reliable</p>
        </div>
    </div>
</header>
<app-home-deatails></app-home-deatails>
<app-home-services></app-home-services>
<app-locations></app-locations>
<app-home-offer></app-home-offer>
<app-home-contact></app-home-contact>
<app-partener></app-partener>