<header>
    <div class="layer">
        <div class="title">
        <h2>Trailer  CARE</h2>

        </div>
    </div>
</header>

<!--  section info  -->
<section>
    <div class="infoservice" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="1000">
        <h2>Optimize Vehicles fleet management.</h2>

        <div class="infodetails">
            <p>Whether you own or lease your Vehicles, maintaining them is crucial for effective fleet management. Breakdowns are unavoidable, maintenance costs are increasing, and downtime can severely impact your operations. With VehiclesCare, you can turn maintenance into a strategic advantage. Our flexible solutions are tailored to meet the specific needs of your fleet.</p>
            <p>Select the plan that best fits your needs and enjoy peace of mind knowing that no matter your choice, you will benefit from quicker repair turnarounds, improved communication, and clear billing processes.</p>
        </div>
    </div>
</section>

<!-- section  details of info  -->
<section class="example">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/trucks2.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Full-Service Maintenance</h4>
                        <p>A comprehensive maintenance package offering complete coverage for all your service and repair needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/basic.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Preventative Trailer Care</h4>
                       <p>Provides regular preventive maintenance to ensure the efficiency of your trailer fleet, identifying and addressing issues early to prevent breakdowns.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/truckcare.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Basic Vehicles Care</h4>
                        <p>Discover unmatched flexibility in Vehicles fleet maintenance. Tailor your contract to fit your exact needs and pay only for the services you use, exactly when you need them.</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

<!-- section more  info -->
 <section class="moreInfo">
    <div class="headline">

        <h3> <br> <span>Maintenance How & Where you Need It</span></h3>

      </div>
    <div class="container">

      <div >
        <div class="row">
            <div class="col-md-6">
                <div class="item">
                    <h6 class="knowing">SECURE PARKING SOLUTION Shop Services: Renowned for top-tier maintenance, SECURE PARKING SOLUTION boasts cutting-edge technology and diagnostic tools at our facilities. On-site, our experts establish advanced maintenance shops or manage your existing yard. Our mobile maintenance ensures fleet efficiency wherever you are.</h6>
                    <h6 class="knowing">SECURE PARKING SOLUTION's  enhances tire services, offering roadside assistance and cost-saving reports. Our purchasing power ensures OEM Quality parts at minimal maintenance costs. Strategically located parts containers nationwide ensure swift repairs and efficient service delivery onsite.</h6>
                </div>
            </div>
            <div class="col-md-6">
                <div class="likeAs">
                    <h6 data-aos="zoom-in-right" data-aos-easing="linear"data-aos-duration="1500" > <i class="fa-regular fa-circle-right"></i> <span>SECURE PARKING SOLUTION Shop Services</span></h6>
                    <h6 data-aos="zoom-in-right" data-aos-easing="linear"data-aos-duration="1500" > <i class="fa-regular fa-circle-right"></i> <span>On-site Services</span></h6>
                    <h6 data-aos="zoom-in-right" data-aos-easing="linear"data-aos-duration="1500" > <i class="fa-regular fa-circle-right"></i> <span>Over the Road Mobile Maintenance</span></h6>
                    <h6 data-aos="zoom-in-right" data-aos-easing="linear"data-aos-duration="1500" > <i class="fa-regular fa-circle-right"></i> <span>Tire Service </span></h6>
                    <h6 data-aos="zoom-in-right" data-aos-easing="linear"data-aos-duration="1500" > <i class="fa-regular fa-circle-right"></i> <span>Purchasing Power</span></h6>
                    <h6 data-aos="zoom-in-right" data-aos-easing="linear"data-aos-duration="1500" > <i class="fa-regular fa-circle-right"></i> <span>Parts Containers</span></h6>
                </div>
            </div>
        </div>
      </div>
    </div>
 </section>