<header>
    <div class="layer">
        <div class="title">
        <h2>Your Trusted Partner in Truck and Trailer Parking Solution</h2>

        <h5>ABOUT OUR COMPANY </h5>
        </div>
    </div>
</header>
<section class="aboutus">
<div class="container">
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="imgabout">
                    <img src="assets/images/car.jpg" class="w-100" alt="">
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="about">
                    <h3>ABOUT US :</h3>
                    <p>Providing secure, spacious, and convenient parking solution for Vehicles. Our facilities ensure safety and ease, catering to drivers' needs with top-notch amenities and exceptional customer service.</p>
                </div>
            </div>
        </div>
    </div>

    
    <div class="col-md-4">
        <div class="vesion">
            <div class="veisonImg">
            <img src="assets/images/aboutteam.jpg" class="w-100" alt="">

            </div>
            <div class="mission">
                <h3>Our mission</h3>
                <h5>Our mission is to provide safe, reliable, and convenient parking solution, ensuring efficiency and peace of mind for truckers.</h5>
            </div>
        </div>
    </div>
</div>
</div>
</section>