<header>
    <div class="layer">
        <div class="title">
        <h2>Trucks  Mechanic</h2>

        </div>
    </div>
</header>

<!--  section info  -->
<section>
    <div class="infoservice" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="1000">
        <h2>Comprehensive Truck Mechanic Services</h2>

        <div class="infodetails">
            <p>Truck Mechanic Services offer comprehensive repair and maintenance solutions for commercial trucks, ensuring optimal performance and safety. Skilled technicians handle engine diagnostics, brake repairs, and transmission services with precision and efficiency.</p>
            <p>These services also include routine inspections, oil changes, and tire replacements, minimizing downtime for fleets. Equipped with advanced tools and technology, they guarantee reliable and timely support for all truck maintenance needs.</p>
            <a style="background-color: #11263b; color: #fff; padding: 15px 20px;letter-spacing: 1.5px;font-size: 18px; line-height: 3em;" href="tel:+14163338235" target="_blank"> Call Now</a>

        </div>
    </div>
</section>

<!-- section  details of info  -->
<section class="example">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/replace.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Engine Diagnostics</h4>
                        <p>Engine diagnostics involve using advanced tools to identify issues, ensuring efficient repairs and maintaining optimal engine performance and reliability for commercial trucks.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/repair.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Brake Repairs</h4>
                       <p>Brake repairs focus on inspecting, adjusting, and replacing brake components, ensuring the safety and reliability of trucks on the road.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/rotine.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Routine Inspections</h4>
                        <p>Routine inspections involve thorough checks of all truck systems, identifying potential issues early to prevent major breakdowns and costly repairs.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/oil.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Oil Changes</h4>
                        <p>Oil changes are crucial for maintaining engine health, reducing wear, and ensuring smooth operation by replacing old oil with fresh, high-quality oil.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/tire.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Tire Replacements</h4>
                        <p>Tire replacements ensure proper traction, handling, and safety by fitting new, high-quality tires, crucial for the heavy-duty performance of commercial trucks</p>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</section>

