<section>
    <div class="container">
      <h2 class="sectionClass">Near  Intersection </h2>

            <div class="row justify-content-between">
                <div class=" col-md-6">
                    <div class="feature-box-content">
                        <h5>Lake Ridge Rd & Taunton Rd W  <br>(Durham Regional Road 4)</h5>
                        <p>This is a significant intersection near the location, offering access to other parts of Whitby and the surrounding areas.</p>
                    </div>
                    <div class="feature-box-content">
                        <h5>Lake Ridge Rd & Rossland Rd W</h5>
                        <p>Located a bit further south, this intersection connects to other local roads in Whitby.</p>
                    </div>
                   
                </div>
                <div class=" col-md-4">
                    <figure>
                      <img src="assets/images/lake-map.jpg" alt="map" style="width: 450px; height: 400px;">

                    </figure>
                </div>
            </div>
          

    </div>
</section>

<section>
   <div class="container">
    <h2 class="sectionClass">Near  Highways</h2>

    <div class="feature-box-container">
        <div class="row">
            <div class="feature-box col-md-8"data-aos="fade-left" data-aos-duration="1500">
                <div class="feature-box-content">
                    <h4>4.9 km from Highway 401, about 13.7 minutes away.</h4>
                    <h4>2.0 km from Highway 407, about 1.5 minutes away.</h4>
                    <h4>This locations offers very quickly access to both major highway, making it ideal for transportation and logistics operations.</h4>
                </div>
            </div>
        </div>
        <div class=" col-md-4"data-aos="fade-right" data-aos-duration="1500">
            <figure>
              <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2874.6252473223226!2d-79.0038805239455!3d43.905027771091284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDU0JzE4LjEiTiA3OcKwMDAnMDQuNyJX!5e0!3m2!1sen!2seg!4v1728547826767!5m2!1sen!2seg" width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </figure>
        </div>
       
    </div>
   </div>
</section>

<section>
    <div class="container">
        <h2 class="text-center mb-5">Featured</h2>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <ul class="list-unstyled">
                  <h4 class="aboutservice">With 500 spots atLake Ridge Rd & Taunton Rd W, our parking yard offers a prime, convenient location. Situated in Whitby, it provides easy access to highways, ideal for short-term and long-term parking needs. </h4>

                </ul>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                         Proximity to major routes
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-capitalize">located less than 2 km from highway.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#flush-Nearby" aria-expanded="false" aria-controls="flush-collapseOne">
                          Nearby Amenities 
                        </button>
                      </h2>
                      <div id="flush-Nearby" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-capitalize">close to various amenities and services stations.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                         secure environment
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse text-capitalize" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">we provide well-maintained and offer a safe and 24/7 secure environment for your flee.</div>
                      </div>
                    </div>
                    
                      </div>
            </div>
        </div>
        </div>
    
</section>
<section class="shunt">
  <h3 data-aos="zoom-in" data-aos-duration="1500">Ask About Our shunting Service</h3>
</section>