<footer>
    <div class="details">

        <div class="container ">
            <div class="row ">
                <div class="col-md-3">
                <div class="item pe-3">
                    <h3>ABOUT US </h3>
                    <p>Welcome to Secure Parking Solution, with 24/7 accessible, Secure Parking Solution provides secure,
                     specialized parking management for trailers, trucks, boats, yachts, dump trucks, and RVs, offering safe, 
                     spacious, and reliable storage solutions tailored to large vehicle needs.
                    
                    </p>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="item company">
                    <h3>COMPANY SERVICES </h3>
                    <ul>
                        <li><a [routerLink]="['/services/YardManagement']"  >YARD MANGEMENT</a></li>
                        <li><a [routerLink]="['/services/parking']">SAFE & SECURED PARKING</a></li>

                        <li><a [routerLink]="['/services/trailer-care']">TRAILER CARE</a></li>
                        <li><a [routerLink]="['/services/truck-Mechanic']">TRUCK MECHANIC </a></li>
                        <li><a [routerLink]="['/services/mobile-wash']">MOBILE WASH ONSIDE </a></li>
                    </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item company">
                    <h3>GET IN TOUCH </h3>
                    <ul>
                        <li class="location"><a href="https://maps.app.goo.gl/QsNLiZJA5sKiZgye6" target="_blank">154 Queen St S, Mississauga, <br> ON L5M 2P4, Canada</a></li>
                        <li class="phone"><a href="tel:+14163338235" target="_blank"><i class="fa-solid fa-phone"></i> <span>+1 (416) 333-8235</span></a></li>
                        <li class="email"><a href="mailto:Info@secureparkingsolution.ca"target="_blank"  ><i class="fa-regular fa-envelope"></i><span>Info&#64;secureparkingsolution.ca</span></a></li>
                        <li class="email"><a href="www.secureparkingsolution.ca"target="_blank"  ><i class="fa-solid fa-globe"></i><span>www.secureparkingsolution.ca</span></a></li>
                    </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item follow">
                    <h3>FOLLOW US </h3>
                    <ul>
                        <li class="icon">
                            <a href="https://www.instagram.com/secu_reparking/" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                            <span>FOLLOW INSTAGRAM</span>    
                            </a>
                        
                        </li>

                        <li class="">
                            <a href="https://www.facebook.com/profile.php?id=61562974317427&mibextid=ZbWKwL" target="_blank">
                            <i class="fa-brands fa-facebook-f"></i>
                            <span>FOLLOW FACEBOOK</span>
                            </a>
                            
                        </li>
                        <li class="email"><a href="https://maps.app.goo.gl/QsNLiZJA5sKiZgye6"target="_blank"  ><i class="fa-solid fa-building-flag"></i><span>Company Headquarters</span></a></li>

                    </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="info">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="infoitem p-2">
                        <img src="assets/images/logofooter2.jpg" class="w-100" alt="logo">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="infoitem">
                        <p><a href="www.secureparkingsolution.ca" target="_blank">SECURE PARKING SOLUTIONS  </a>© 2024 All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="infoitem">
                        <ul class="socials">
                            <li><a href="https://www.facebook.com/profile.php?id=61562974317427&mibextid=ZbWKwL" target="_blank"> <i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/secu_reparking/" target="_blank"> <i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>