<section>
    
    <div class="slogan">
        <img src="assets/images/logofooter2.jpg"class="w-50" alt="">
    </div>


   
      
<p-stepper >
    <p-stepperPanel header="E-mail">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                    <div class="login">
                        <div class="loginForm">
                            <h2>Change Password</h2>
                            <p>Please enter your E-mail and New password</p>
                            <form [formGroup]="ForgetPassForm" (ngSubmit)="onSubmit(ForgetPassForm.value)">
                                <div class="username">
                                    <label for="username">E-mail</label>
                                    <input id="username" formControlName="email" type="text">
                                    <div class="alert alert-danger mt-3" *ngIf="ForgetPassForm.get('email')?.invalid && ForgetPassForm.get('email')?.touched">
                                        E-mail is required.
                                    </div>
                                </div>
                                <div class="username">
                                    <label for="password">New Password</label>
                                    <input id="password" formControlName="NewPassword" type="password">
                                    <div class="alert alert-danger mt-3" *ngIf="ForgetPassForm.get('NewPassword')?.invalid && ForgetPassForm.get('NewPassword')?.touched">
                                        New Password is required.
                                    </div>
                                </div>
                                <div>
                                    <!-- <buttontype="submit" class="btn">Complete</button> -->
                                </div>
                            </form>
                        </div>
                    </div>
                 

                
                </div>
            </div>
            <div class="flex pt-4 d-flex justify-content-center">
                <p-button label="Complete"  icon="pi pi-arrow-right"  iconPos="right"  (onClick)="nextCallback.emit()" />
            </div>
        </ng-template>
    </p-stepperPanel>

    <p-stepperPanel header="Code">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                
                
                    <p-inputOtp [(ngModel)]="value">
                        <ng-template pTemplate="input" let-token let-events="events">
                            <input 
                                pInputText 
                                class="custom-otp-input" 
                                (input)="events.input($event)" 
                                (keydown)="events.keydown($event)" 
                                type="text" 
                                [attr.value]="token" 
                                [maxLength]="1" />
                        </ng-template>
                    </p-inputOtp>
                
            
             
                
                 
                 
                </div>

               
            </div>

            <div class="flex pt-4 d-flex justify-content-evenly">
                <p-button label="Back"  icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                <p-button label="Complete"  (click)="code()" />

            </div>
        </ng-template>
    </p-stepperPanel>
    
    

</p-stepper>
</section>
