<section>
    <div class="container">
        <div id="sec-cont">
            
            <h4 class="animate__animated animate__rubberBand">WHAT WE OFFER</h4>
        </div>
        <div class="row row-cols-1  justify-content-center">
            <div class="col-md-3 mt-5">
                <div class="featured-box">
                    <div class="icons">
                        <i class="fa-regular fa-clock"></i>
                    </div>
                    <div class="featured-box-content">
                        <span>Flexible Options</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3  mt-5">
                <div class="featured-box">
                    <div class="icons">
                        <i class="fa-solid fa-map-location-dot"></i>                    </div>
                    <div class="featured-box-content">
                        <span>Convenient Ontario Location</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="featured-box">
                    <div class="icons">
                        <i class="fa-brands fa-watchman-monitoring"></i>
                    </div>
                    <div class="featured-box-content">
                        <span>Monitored Video Surveillance</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="featured-box">
                    <div class="icons">
                        <i class="fa-brands fa-wirsindhandwerk"></i>
                    </div>
                    <div class="featured-box-content">
                        <span> Mobile wash service on Site</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="featured-box">
                    <div class="icons">
                        <i class="fa-solid fa-bolt-lightning"></i>
                    </div>
                    <div class="featured-box-content">
                        <span>Electric/Powered Swing Gates</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="featured-box">
                    <div class="icons">
                        <i class="fa-regular fa-clock"></i>
                    </div>
                    <div class="featured-box-content">
                        <span>Completely Lit Yard</span>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="featured-box">
                    <div class="icons">
                        <i class="fa-regular fa-gem"></i>
                    </div>
                    <div class="featured-box-content">
                        <span>Crushed & Compacted Aggregate Base</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
