<header>
    <div class="layer">
        <div class="title">
        <h2>Yard Management Services  </h2>

        </div>
    </div>
</header>

<!--  section info  -->
<section>
    <div class="infoservice" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="1000">
        <h2>Third party yard management facilities services</h2>

        <div class="infodetails">
            <p>
                Third-party yard management facility services for Vehicles parking encompass comprehensive logistics coordination, ensuring efficient scheduling and inventory management. These services maintain smooth operations by organizing Vehicles movements and storage, enhancing overall yard efficiency.</p>
            <p>Security and maintenance are pivotal, with robust measures for compliance with regulations. These facilities prioritize safety and upkeep, providing a secure environment for Vehicles.</p>
        </div>
    </div>
</section>

<!-- section  details of info  -->
<section class="example">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/camera.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Security</h4>
                        <p>Third-party yard management facilities ensure robust security for Vehicles parking, incorporating advanced surveillance, access control, and 24/7 monitoring, seamlessly integrated with logistics coordination to safeguard assets.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/coord.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Logistics Coordination </h4>
                       <p>Third-party yard management facilities streamline logistics by coordinating Vehicles movements, scheduling, and inventory. They boost efficiency, minimize downtime, and improve overall yard productivity and organization.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/main.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Maintenance</h4>
                        <p>Maintenance in third-party yard management ensures optimal logistics by keeping Vehicles in top condition, including regular inspections, repairs, and cleanliness to support efficient yard operations and minimize downtime.</p>
                    </div>
                </div>
            </div>
          
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/tco-1.png" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Inventory Management</h4>
                       <p>Inventory management in third-party yard management facilities involves meticulous tracking and organization of Vehicles assets, optimizing logistics for efficient storage and movement within the yard.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/choose.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Scheduling</h4>
                       <p>Third-party yard management facilities ensure compliance with logistics regulations, maintaining efficient operations and adherence to industry standards for Vehicles parking services.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

