section{
    /* background-color: rgb(247,247,247); */
    background-color: #fff;
    padding: 150px;
}
section h2{
font-size: 3.5rem;
text-align: center;
color: #11263B;
margin-bottom: 30px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */

}
.item{
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    padding: 50px;
    height: 360px;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 4px  #11263B;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px ;
}
.head i{
    color:  #11263B;
    font-size: 25px;
}
.head h4{
margin-bottom: 0px;
font-size: 1rem;
color:  #11263B;
text-transform: capitalize;
}
.body{
 border-top: 1px solid #7a7d81;
padding-top: 40px;
}
.body h6,.number{
font-family: "Rubik", sans-serif;
font-weight: 400px;
letter-spacing: 1px;
line-height: 2em;
font-size: 14px;
}
.number{
font-size: 3rem;
font-weight: 600;
color: rgba(122, 125, 129,.2);
position: absolute;
bottom: -14%;
right: 10%;
}
@media screen and (min-width:992px ) and (max-width: 1380px) {
section{
padding: 100px 50px;
}
section h2{
font-size: 3rem;
}
.item{
   
    padding: 30px;
}
.head h4{
font-size: .8rem;
}

}
@media screen and (min-width: 768px) and (max-width: 992px) {
section{
padding: 100px 20px;
}
section h2{
font-size: 3rem;
}
.item{

padding: 10px;
}
.head h4{
font-size: 12px;
}
.body h6{
    font-size: 12px;
}
}
@media screen and (min-width: 450px) and (max-width: 768px) {
section{
padding: 100px 20px;
}
section h2{
font-size: 3rem;
}
.item{
height: 300px;
padding: 10px;
}
.head h4{
font-size:12px;
}
}
@media screen and (min-width: 360px) and (max-width: 500px) {
    section{
        padding: 100px 20px;
        }
        section h2{
        font-size: 3rem;
        }
        .item{
        height: 300px;
        padding: 10px;
        }
        .head h4{
        font-size: 1rem;
        }
        .body h6{
            text-align: center;

        }
}