<section>
    <h2>What We Offer    </h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
                <div class="item">
                <div class="head">
                    <i class="fa-solid fa-clipboard-list"></i>                    <h4>Flexible Lease Options   </h4>
                </div>
                <div class="body">
                    <h6>Explore flexible lease options tailored to your needs, ensuring convenience and affordability for parking  your properties at our premier locations.</h6>
                </div>
                                <h3 class='number'>01</h3>

                </div>

            </div>
            <div class="col-md-4 mb-5" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
                <div class="item">
                <div class="head">
                    <i class="fa-solid  fa-screwdriver-wrench"></i>
                    <h4>Comprehensive maintenance </h4>
                </div>
                <div class="body">
                    <h6>Secure Parking Solution offers comprehensive maintenance services, ensuring your   properties remain in top condition for optimal performance and reliability.</h6>
                </div>
                   <h3 class='number'>02</h3>

                </div>

            </div>
            <div class="col-md-4 mb-5" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
                <div class="item">
                <div class="head">
                    <i class="fa-solid fa-piggy-bank"></i>
                    <h4>Affordable Fleet Expansion  </h4>
                </div>
                <div class="body">
                    <h6>Expand your fleet cost-effectively with our rental options and quality used properties, providing flexible solutions for your growing business needs.</h6>
                </div>
                 <h3 class='number'>03</h3>

                </div>

            </div>
            <div class="col-md-4 mb-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
                <div class="item">
                <div class="head">
                    <i class="fa-solid fa-shield"></i>
                    <h4>Secure Environment        </h4>
                </div>
                <div class="body">
                    <h6>Experience unmatched 24/7 personalized service from our pioneering Client Success Team, dedicated to your satisfaction and operational success.</h6>
                </div>
                   <h3 class='number'>04</h3>

                </div>

            </div>
            <div class="col-md-4 mb-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
                <div class="item">
                <div class="head">
                    <i class="fa-solid  fa-screwdriver-wrench"></i>
                    <h4>properties Repair  </h4>
                </div>
                <div class="body">
                    <h6>Our National Maintenance Network boasts one of the largest mobile properties repair fleets, ensuring reliable service in the vibrant town .</h6>
                </div>
                   <h3 class='number'>05</h3>

                </div>

            </div>
            <div class="col-md-4 mb-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
                <div class="item">
                <div class="head">
                    <i class="fa-solid fa-people-group"></i>
                    <h4>Excellence in Service   </h4>
                </div>
                <div class="body">
                    <h6>Our licensed trailer technicians uphold the highest standards, delivering top-tier maintenance and repair services with expertise and precision.</h6>
                </div>
                 <h3 class='number'>06</h3>

                </div>

            </div>
            
        </div>
    </div>
</section>