<header>
    <div class="layer">
        <div class="title">
        <h2>SAFE & SECURED PARKING      </h2>

        </div>
    </div>
</header>

<!--  section info  -->
<section>
    <div class="infoservice" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-duration="1000">
        <h2>Supreme Security, Total Assurance</h2>

        <div class="infodetails">
            <p>When it comes to protecting your valuable trailers, compromise is out of the question. At SECURE PARKING  SOLUTION, we exceed expectations to ensure your assets are not only safe and secure, but also exceptionally well-protected.</p>
            <p>SECURE PARKING  SOLUTION's dedication to security is steadfast. Our fully gated and secured yards are equipped with state-of-the-art features meticulously designed to safeguard your truck and trailer, ensuring utmost protection.</p>
        </div>
    </div>
</section>

<!-- section  details of info  -->
<section class="example">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/camera.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>MONITORED VIDEO SURVEILLANCE</h4>
                        <p>24/7 surveillance with full yard coverage ensures continuous monitoring and protection of your assets around the clock.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/BARBED.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>FENCING WITH BARBED WIRE </h4>
                       <p>Our yards are surrounded by sturdy, permanent fencing that is topped with barbed wire, ensuring a secure perimeter that prevents unauthorized access.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/gates.jpeg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>ELECTRIC GATES</h4>
                        <p>Discover the ease of electric-powered swing gates featuring bidirectional communication for managed access and seamless entry and exit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/light.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>COMPLETELY LIT YARD</h4>
                       <p>Maximized visibility is crucial. Our well-lit yard ensures enhanced surveillance and increased security around the clock.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/Container.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Container Storage Solutions</h4>
                       <p>A spacious secure and scalable container storage facility for goods and equipment with organized parking areas and easy access for transportation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/Heavy.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Heavy machinery </h4>
                       <p>Rows of heavy-duty machinery parked in an organized lot, including excavators, bulldozers, and cranes, awaiting use.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/boatyacht.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Boats and yachts </h4>
                       <p>Boats and yachts are parked elegantly on a ground marina, surrounded by green spaces and characterized by high security</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/dump.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Dump Trucks </h4>
                       <p>Efficiently store and park your dump trucks with our secure, spacious facility. Ensure accessibility and safety for your fleet—reserve your spot today!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/Rv.jpg" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Recreational vehicle </h4>
                       <p>Secure,convenient RV storage and parking solutions with ample space, 24/7 access, and enhanced protection for your recreational vehicle.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">

                        <img src="assets/images/car.jpeg" class="w-100" alt="">


                    </div>
                    <div class="details">
                        <h4>Trucks Parking </h4>
                       <p>Efficient truck parking management service offering secure, organized parking solutions for logistics companies, ensuring safety and convenience.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">

                        <img src="assets/images/trucks.jpg" class="w-100" alt="">


                    </div>
                    <div class="details">
                        <h4>Trailer Parking  </h4>
                       <p>Professional service for managing trailer parking, offering reservation, real-time tracking, and optimized space allocation for efficient parking solutions.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="item">
                    <div class="img">
                        <img src="assets/images/driver.jfif" class="w-100" alt="">

                    </div>
                    <div class="details">
                        <h4>Driver services</h4>
                        <p>Top-tier amenities for trailer drivers, including high-standard bathrooms and showers, ensuring comfort and convenience during their downtime at the yard.</p>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</section>

