
<section >
    <div class="container ">
        <div id="layout" class="row align-items-center justify-content-center ps-3">
            <div id="content"data-aos="fade-right" data-aos-duration="1000" class="animate__animated animate__backInLeft animate__delay col-12 col-xl-5 col-lg-6 col-md-10 padding-6-rem-tb lg-padding-5-rem-tb lg-padding-2-half-rem-right md-padding-15px-right md-no-padding-tb md-margin-5-rem-bottom">
                <div>
                    <h3>OVER 1000 SPOTS AVAILABLE IMMEDIATELY IN CORNWALL!</h3>
                <h6>Elevate Your Vehicles Security with SECURE PARKING  SOLUTION: The Trusted Choice for Safe & Secure Parking</h6>
                <p>When it comes to protecting your valuable tractors and trailers, there’s no room for compromise. At SECURE PARKING  SOLUTION:, we go the extra mile to ensure your assets are not only safe but exceptionally secure.</p>
                <p>Experience the unmatched benefits of choosing SECURE PARKING  SOLUTION for your Vehicles parking needs.</p>
                </div>
            </div>
           
            <div id="figure" class="  col-12 col-lg-6 offset-xl-1 col-md-10" >
                <div>
                    <figure>
                        <img src="assets/images/parked.jpg" class="w-100 " alt="IMG">
                    </figure>
                </div>
            </div> 
        </div>
    </div>
</section>