<section>
    <div class="container">
        <h2 class="sectionClass">Near  Intersection</h2>

            <div class="row justify-content-between">
                <div class=" col-md-6">
                    <div class="feature-box-content">
                        <h5>Dean Dr & Concession Rd 7</h5>
                        <p>This is one of the nearby intersections that connects to local rural roads in Adjala-Tosorontio.</p>
                    </div>
                    <div class="feature-box-content">
                        <h5>Dean Dr & Highway 50 (Regional Road 50)</h5>
                        <p>A major north-south road, Highway 50 is a key route in the area, connecting to nearby towns and regions.</p>
                    </div>
                    <div class="feature-box-content">
                        <h5>Dean Dr & County Rd 1</h5>
                        <p>Also known as Hockley Road, this intersection is another important nearby connection.</p>
                    </div>
                    <div class="">
                      <a style="background-color: #11263b; color: #fff; padding: 15px 20px;letter-spacing: 1.5px;font-size: 18px; line-height: 5em;" href="tel:+14163338235" target="_blank"> Call Us Now : <span>+1 (416) 333-8235</span></a>

                    </div>
                </div>
                <div class=" col-md-4">
                    <figure>
                        <img src="assets/images/dean.jpg" alt="map" style="width: 450px; height: 400px;">

                    </figure>
                </div>
            </div>
          

    </div>
</section>

<section>
   <div class="container">
    <h2 class="sectionClass">Near  Highways</h2>

    <div class="feature-box-container">
        <div class="row">
            <div class="feature-box col-md-7"  >
                <div class="feature-box-content">
                    <h4>8.2 km from Highway 50, about 6.2 minutes away.</h4>
                    <h4>This locations offers convenient access to major routes, making it suitable for transportation and logistics operations while being located in a quiet rural area.</h4>
                </div>
            </div>
        </div>
        <div class=" col-md-4"  >
            <figure>
              <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2863.0442019267034!2d-79.90124162393225!3d44.14433327108309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDTCsDA4JzM5LjYiTiA3OcKwNTMnNTUuMiJX!5e0!3m2!1sen!2seg!4v1728547964822!5m2!1sen!2seg" width="390" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </figure>

            </div>
       
    </div>
   </div>
</section>

<section>
    <div class="container">
        <h2 class="text-center mb-5">Featured</h2>
        <div class="row">
            <div class="col-md-6 col-sm-12">
              <h5 class="binfits"> Benefits</h5>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFOur">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-Logistics" aria-expanded="false" aria-controls="flush-collapseOne">
                      Logistics Companies
                    </button>
                  </h2>
                  <div id="flush-Logistics" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Keep Your fleet close and ready  for action with convenient highway access</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-machinery" aria-expanded="false" aria-controls="flush-collapseOne">
                      Construction Firms 
                    </button>
                  </h2>
                  <div id="flush-machinery" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Store heavy machinery and equipment with space for large-scale operation</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-Boat" aria-expanded="false" aria-controls="flush-collapseOne">
                      Boat Owners  
                    </button>
                  </h2>
                  <div id="flush-Boat" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Ideal storage  for boats and yachts  with robust security and convenient access.</div>
                  </div>
                </div>
              </div>
              </div>
            <div class="col-md-6 col-sm-12">
              <h5 class="binfits"> Why Us ?</h5>

                <div class="accordion accordion-flush" id="accordionFlushExample">
                
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        We are built for Bussines
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Tailored to needs of commerical operations , from container storage to dump trucks and more.</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          Flexible Leasing
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Need short-term? We've got customizable lease options to suit your business needs.</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        24/7 On-Site Managment
                      </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Have q uestion or mneed assistance? We're here, around the clock, keeping things running smoothly.</div>
                    </div>
                  </div>
                    
                      </div>
            </div>
        </div>
        </div>
    
</section>
<section class="shunt">
    <h3 data-aos="zoom-in" data-aos-duration="1500">Ask About Our shunting Service</h3>
</section>