<section class="service-home">
    <div class="container">
        <div id="sec-cont">
            <h4>WHAT WE SERVE</h4>
        </div>
        <div class="row justify-content-center">

        <a data-aos="fade-up-up" data-aos-duration="1000"[routerLink]="['/services/YardManagement']"class=" col-12 col-lg-5 col-md-9 margin-30px-bottom xs-margin-15px-bottom shadow">
          <div >
          <div class="featured-box">
          <div class="icon-danger">
            <i class="fa-solid fa-magnet"></i>
          </div>
          <div class="featured-box-content">
          <h5 class="">Yard Management Services</h5>                 
          <p class="">Third-party yard management facility services refer to outsourced solutions provided by SECURE PARKING SOLUTION to handle the operations and logistics of a yard, such as a parking yard for Vehicles</p>

          </div>
          </div>
          </div>
        </a>

        
        <a data-aos="fade-up-up" data-aos-duration="1000" [routerLink]="['/services/parking']" class=" col-12 col-lg-5 col-md-9 margin-30px-bottom xs-margin-15px-bottom shadow">
          <div >
          <div class="featured-box">
          <div class="icon-danger">
          <i class="fa-solid fa-square-parking"></i>
          </div>
          <div class="featured-box-content">
          <h5 class="">PARKING </h5>                 
          <p class="">SECURE PARKING SOLUTION's dedication to security is steadfast. Our fully gated and secured yards are equipped with state-of-the-art features meticulously designed to safeguard your Vehicles, ensuring utmost protection.</p>
  
          </div>
          </div>
          </div>
          </a>
          

          <a data-aos="fade-up" data-aos-duration="1000"[routerLink]="['/services/trailer-care']" class=" col-12 col-lg-5 col-md-9 margin-30px-bottom xs-margin-15px-bottom shadow">
            <div >
            <div class="featured-box">
              <div class="icon-danger">
                <i class="fa-solid fa-hands-holding-child"></i>
              </div>
                <div class="featured-box-content">
                  <h5 class="">Vehicles CARE</h5>                 
                  <p class="">Select the plan that best fits your needs and enjoy peace of mind knowing that no matter your choice, you will benefit from quicker repair turnarounds, improved communication, and clear billing processes.</p>
                  
                </div>
              </div>
            </div>
          </a>
    
          <a data-aos="fade-up" data-aos-duration="1000"[routerLink]="['/services/truck-Mechanic']" class=" col-12 col-lg-5 col-md-9 margin-30px-bottom xs-margin-15px-bottom shadow">
            <div >
            <div class="featured-box">
              <div class="icon-danger">
                <i class="fa-solid fa-screwdriver-wrench"></i>
              </div>
                <div class="featured-box-content">
                  <h5 class="">Truck Mechanic Services </h5>                 
                  <p class="">Secure Parking Solution provides on-site truck maintenance, repairs, and emergency services. Our skilled mechanics ensure your trucks are road-ready with efficient, professional service for both minor fixes and major overhauls.</p>
                  
                </div>
              </div>
            </div>
          </a>
          <a data-aos="fade-up" data-aos-duration="1000"[routerLink]="['/services/mobile-wash']" class=" col-12 col-lg-5 col-md-9 margin-30px-bottom xs-margin-15px-bottom shadow">
            <div >
            <div class="featured-box">
              <div class="icon-danger">
                <i class="fa-solid fa-screwdriver-wrench"></i>
              </div>
                <div class="featured-box-content">
                  <h5 class="">Mobile Wash Onsite  </h5>                 
                  <p class="">Secure Parking Solution offers convenient on-site Trucks and Vehicles washing services. Our team provides thorough cleaning and detailing, ensuring your vehicle looks its best without you having to leave your location.</p>
                  
                </div>
              </div>
            </div>
          </a>
    
                

        
  
        </div>
    </div>
</section>
