<section>
    <div class="container">
                         <h2 class="sectionClass">Near  Intersections </h2>

            <div class="row justify-content-between">
                <div class=" col-md-6">

                    <div class="feature-box-content">
                        <h5>Lawson Rd & Hwy 25 (Regional Road 25)</h5>
                        <p>This is a major intersection near Our Location , connecting to Highway 25, which is a main road running north-south through Our Location.</p>
                    </div>
                    <div class="feature-box-content">
                        <h5>Lawson Rd & Steeles Ave</h5>
                        <p>This is another key intersection south of Our Location, providing access to the broader Milton area and beyond.</p>
                        <p>These intersections offer easy access to and from Our Location, which is located in an industrial and commercial area.</p>
                    </div>
                </div>
                <div class=" col-md-5">
                    <figure>
                      <img src="assets/images/mavid.jpg" alt="map" style="width: 450px; height: 400px;">

                    </figure>
                </div>
            </div>
          

    </div>
</section>

<section>
   <div class="container">
    <h2 class="sectionClass">Near  Highways</h2>

    <div class="feature-box-container">
        <div class="row">
            <div class="feature-box col-lg-7 col-md-12"data-aos="fade-left" data-aos-duration="1500">
                <div class="feature-box-content">
                    <h4>5.9 km from Highway 401, about 4.4 minutes away.</h4>
                    <h4>6.2 km from Highway 407, about 4.7 minutes away.</h4>
                    <h4>This makes it highly accessible from both major highways, ensuring quick transport and connectivly.</h4>
                </div>
            </div>
        </div>
        <div class=" col-lg-5 col-md-12"data-aos="fade-right" data-aos-duration="1500">
            <figure>
              <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2892.0699735342387!2d-79.8730193239655!3d43.54258327110756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDMyJzMzLjMiTiA3OcKwNTInMTMuNiJX!5e0!3m2!1sen!2seg!4v1728547396326!5m2!1sen!2seg" width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </figure>
        </div>
       
    </div>
   </div>
</section>

<section>
    <div class="container">
        <h2 class="text-center mb-5">Featured</h2>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <h4 class="aboutservice">We are offering 500 professionally manged parking spaces in fully secured ,state-of-the-art facility designed to meet diverse stronge needs ,including  </h4>
                <ul class="list-unstyled">
                    <li>Heavy Machinery</li>
                    <li>Dump Trucks</li>
                    <li>Boats and Yachts</li>
                    <li>Commercial Fleets , trailers , and Heavy Equipment</li>
                </ul>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Asphalt-paved Surface
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Ensuring a robust and clean environment.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Fully fenced yard
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">With live security for added safety.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          Electric grated entery
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">With 24/7 controlled access.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                           Ample Space for easy maneuverability.
                          </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">Ideal for large commerical operations and storage of oversized equipment.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Strategical Located near major highway
                        </button>
                      </h2>
                      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">For convenient access</div>
                      </div>
                      
                    </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-Professionally" aria-expanded="false" aria-controls="flush-collapseFive">
                          Professionally Manged
                          </button>
                        </h2>
                        <div id="flush-Professionally" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">Professionally manged to ensure sameless Logistics operation </div>
                        </div>
                        
                      </div> 
            </div>
        </div>
        </div>
   </div>
</section>
<section class="shunt">
  <h3 data-aos="zoom-in" data-aos-duration="1500">Ask About Our shunting Service</h3>
</section>
